/*
* header styling
*/

.menu-container {
  position: absolute;
  top: 50px;
  right: 0px;
  transform: translate(0, -100%);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 2px;
  background-color: #fff;
}

.bar:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: all 300ms ease-in-out;
}

.bar:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: all 300ms ease-in-out;
}

.menu-container.bar-active .bar:before {
  top: 0;
  left: 0;
  transform: rotate(45deg);
  background-color: #fff;
}

.menu-container.bar-active .bar {
  background-color: transparent;
}

.menu-container.bar-active .bar:before {
  top: 0;
  left: 0;
  transform: rotate(45deg);
  background-color: #fff;
}

.menu-container.bar-active .bar:after {
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  background-color: #fff;
}

/* Overlay */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.05);
}

.active {
  width: 25%;
  transition: all 300ms ease-in-out;
}

.non-active {
  width: 0;
  transition: all 300ms ease-in-out;
}

/* Overlay Navigation */

nav {
  position: absolute;
  top: 10%;
  left: 25%;
  transform: translate(-50%, -50%);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  text-align: center;
}

nav a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  line-height: 100px;
  cursor: pointer;
  position: relative;
}

nav a:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #222;
  transition: all 300ms ease-in-out;
  transform: scaleX(0);
}

nav a:hover:before {
  transform: scaleX(1);
}
