/**
* layout css styling
**/

@import 'reset.css';

div.wrapper {
  position: relative;
  width: 100%;
}

div.header {
  position: relative;
  z-index: 4;
  height: 50px;
  background-color: #333545;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

div.main {
  display: table;
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  z-index: 2;
  background-color: #40508e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
