.header-navbar {
  margin-bottom: 0;
  border: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #272c30;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

@media (max-width: 768px) {
  .header-navbar .navbar-header, .header-navbar .topnavbar {
    display: none !important;
  }
}

.header-navbar .navbar-header {
  position: relative;
}

.header-navbar .navbar-brand {
  padding: 0;
  height: auto;
  width: 200px;
}

.header-navbar .topnavbar {
  float: left;
  width: 100%;
  padding-left: 200px;
  margin-left: -200px;
}

.header-navbar .userbar {
  float: right;
}

.header-navbar .nav>li>a {
  background-color: transparent;
  display: block;
  height: 75px;
  padding: 10px;
}

.header-navbar .nav>li>a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.header-navbar .nav>li>a>span {
  color: #5e6870;
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.header-navbar .nav>li.active, .header-navbar .nav>li:hover, .header-navbar .nav>li:focus, .header-navbar .nav>li.open {
  background-color: rgba(36, 41, 44, 0.5);
}

.header-navbar .nav>li.active a>span, .header-navbar .nav>li:hover a>span, .header-navbar .nav>li:focus a>span, .header-navbar .nav>li.open a>span {
  color: #fff;
}

.header-navbar .nav .open>a, .header-navbar .nav .open>a:focus, .header-navbar .nav .open>a:hover {
  background-color: transparent;
  border-color: transparent;
}

.header-navbar-mobile {
  display: none;
  padding: 15px;
}

@media (max-width: 768px) {
  .header-navbar-mobile {
    display: block;
  }
}

.header-navbar-mobile:after {
  content: '';
  display: block;
  clear: both;
}

.header-navbar-mobile__menu {
  float: left;
  position: relative;
}

.header-navbar-mobile__title {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px;
  margin: 0 -40px;
  color: #fff;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-navbar-mobile__settings {
  float: left;
  position: relative;
}
