{
  "presets": ["@babel/preset-stage-0"],
  "plugins": ["add-module-exports", "dynamic-import-webpack"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["dev-expression"]
    },
    "development": {
      "plugins": ["transform-class-properties", "transform-es2015-classes"]
    }
  }
}
