{
  "env": {
    "development": {
      "presets": ["@babel/preset-react", "@babel/preset-env"],
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
