/** List general **/

.packages__list {
  visibility: visible;
  overflow-y: scroll;
  padding: 10px 15px;
  margin-top: 15px;
  min-height: 900px;
  border-radius: 2px;
  background-color: rgba(36, 41, 44, 0.5);
}

@media (max-width: 768px) {
  .packages__list {
    margin-bottom: 30px;
  }
}

/** List Header **/
.packages__head {
  display: block;
}

.packages__head:after {
  content: '';
  display: block;
  clear: both;
}

.packages__title {
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding-right: 60px;
  margin-right: -50px;
}

.packages__title span {
  font-size: 18px;
  color: #fff;
}

.packages__actions {
  float: left;
  width: 50px;
  cursor: pointer;
  line-height: 25px;
  font-size: 0;
  text-align: right;
}

.packages__action {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  vertical-align: top;
}

.packages__action:last-child {
  margin-right: 0;
}

.packages__action>.fa:hover {
  color: #fff;
}

.packages__action .dropdown-menu>li .fa {
  margin-right: 10px;
}

.packages__search {
  margin: 10px 0;
}

/** List item **/

.packages__item {
  border-top: 1px solid rgba(36, 41, 44, 0.5);
  padding: 10px 10px 15px;
  cursor: pointer;
}

.packages__item:hover, .packages__item.selected {
  background-color: rgba(36, 41, 44, 0.5);
}

.packages__item__head {
  overflow: hidden;
}

.packages__item__check {
  float: left;
}

.packages__item__check .checkbox {
  padding-top: 0;
  height: 20px;
}

.packages__item__check .checkbox label {
  padding-left: 0;
}

.packages__item__name {
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding-left: 30px;
  margin-left: -20px;
  margin-right: -60px;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.packages__item__name span {
  padding-right: 10px;
}

.packages__item__name span:nth-of-type(1) {
  font-weight: bold;
}

.packages__item .packages__item__name {
  font-size: 16px;
  color: #fff;
}

.packages__item__date {
  float: left;
  width: 60px;
  text-align: right;
}

.packages__item__body {
  overflow: hidden;
  padding-top: 5px;
}

.packages__item__tag {
  float: left;
  width: 20px;
}

.packages__item__text {
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding-left: 30px;
  margin-left: -20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
