.packages__list {
  min-height: 100vh;
  padding: 10px 15px;
  margin-top: 15px;
  max-height: 735px;
  border-radius: 2px;
  background-color: rgba(36, 41, 44, 0.5);
  overflow: auto;
}

@media (max-width: 768px) {
  .packages__list {
    margin-bottom: 30px;
  }
}
