.packages__head {
  display: block;
}

.packages__head:after {
  content: '';
  display: block;
  clear: both;
}

.packages__title {
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding-right: 60px;
  margin-right: -50px;
}

.packages__title span {
  font-size: 18px;
  color: #fff;
}

.packages__actions {
  float: left;
  width: 50px;
  cursor: pointer;
  line-height: 25px;
  font-size: 0;
  text-align: right;
}

.packages__action {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  vertical-align: top;
}

.packages__action:last-child {
  margin-right: 0;
}

.packages__action>.fa:hover {
  color: #fff;
}

.packages__action .dropdown-menu>li .fa {
  margin-right: 10px;
}

.packages__search {
  margin: 10px 0;
}
