/*
 * Global styling
 */

@import '~material-design-icons/iconfont/material-icons.css';
@import '~typeface-roboto';

html,
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-y: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 12.5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #999;
}
