/* Text color classes */

.white {
  color: #ffffff !important;
}

.grey {
  color: #eeeeee !important;
}

.black {
  color: #555555 !important;
}

.red {
  color: #f75353 !important;
}

.green {
  color: #51d466 !important;
}

.lblue {
  color: #32c8de !important;
}

.blue {
  color: #609cec !important;
}

.orange {
  color: #f78153 !important;
}

.yellow {
  color: #fcd419 !important;
}

.purple {
  color: #cb79e6 !important;
}

.rose {
  color: #ff61e7 !important;
}

.brown {
  color: #d08166 !important;
}


/* Button classes */

.btn {
  border-radius: 2px;
  position: relative;
}

.btn.btn-no-border {
  border: 0px !important;
}


/* Button colors */

.btn.btn-white {
  background: #ffffff;
  color: #666666;
  border: 1px solid #dddddd;
}

.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white.active, .btn.btn-white:active {
  background: #f7f7f7;
  color: #666666;
}

.btn.btn-grey {
  background: #eeeeee;
  color: #666666;
  border: 1px solid #d5d5d5;
}

.btn.btn-grey:hover, .btn.btn-grey:focus, .btn.btn-grey.active, .btn.btn-grey:active {
  background: #d5d5d5;
  color: #999;
}

.btn.btn-black {
  color: #ffffff;
  background: #666666;
  border: 1px solid #4d4d4d;
}

.btn.btn-black:hover, .btn.btn-black:focus, .btn.btn-black.active, .btn.btn-black:active {
  background: #4d4d4d;
  color: #ffffff;
}

.btn.btn-red {
  color: #ffffff;
  background: #ed5441;
  border: 1px solid #e52d16;
}

.btn.btn-red:hover, .btn.btn-red:focus, .btn.btn-red.active, .btn.btn-red:active {
  color: #ffffff;
  background: #e52d16;
}

.btn.btn-green {
  color: #ffffff;
  background: #51d466;
  border: 1px solid #30c247;
}

.btn.btn-green:hover, .btn.btn-green:focus, .btn.btn-green.active, .btn.btn-green:active {
  background: #30c247;
  color: #ffffff;
}

.btn.btn-lblue {
  color: #ffffff;
  background: #32c8de;
  border: 1px solid #1faabe;
}

.btn.btn-lblue:hover, .btn.btn-lblue:focus, .btn.btn-lblue.active, .btn.btn-lblue:active {
  background: #1faabe;
  color: #ffffff;
}

.btn.btn-blue {
  color: #ffffff;
  background: #609cec;
  border: 1px solid #3280e7;
}

.btn.btn-blue:hover, .btn.btn-blue:focus, .btn.btn-blue.active, .btn.btn-blue:active {
  background: #3280e7;
  color: #ffffff;
}

.btn.btn-orange {
  color: #ffffff;
  background: #f8a841;
  border: 1px solid #f69110;
}

.btn.btn-orange:hover, .btn.btn-orange:focus, .btn.btn-orange.active, .btn.btn-orange:active {
  background: #f69110;
  color: #ffffff;
}

.btn.btn-yellow {
  background: #fcd419;
  color: #ffffff;
  border: 1px solid #dfb803;
}

.btn.btn-yellow:hover, .btn.btn-yellow:focus, .btn.btn-yellow.active, .btn.btn-yellow:active {
  background: #dfb803;
  color: #ffffff;
}

.btn.btn-purple {
  background: #cb79e6;
  color: #ffffff;
  border: 1px solid #ba4ede;
}

.btn.btn-purple:hover, .btn.btn-purple:focus, .btn.btn-purple.active, .btn.btn-purple:active {
  background: #ba4ede;
  color: #ffffff;
}

.btn.btn-rose {
  background: #ff61e7;
  color: #ffffff;
  border: 1px solid #ff2edf;
}

.btn.btn-rose:hover, .btn.btn-rose:focus, .btn.btn-rose.active, .btn.btn-rose:active {
  background: #ff2edf;
  color: #ffffff;
}

.btn.btn-brown {
  background: #d08166;
  color: #ffffff;
  border: 1px solid #c4613f;
}

.btn.btn-brown:hover, .btn.btn-brown:focus, .btn.btn-brown.active, .btn.btn-brown:active {
  background: #c4613f;
  color: #ffffff;
}


/* Label */

.label {
  border-radius: 2px;
  font-weight: normal;
  padding: 3px 7px;
  font-size: 12px;
  line-height: 18px;
}


/* Label sizes */

.label.label-xs {
  font-size: 10px;
  padding: 1px 5px;
  line-height: 12px;
}

.label.label-sm {
  font-size: 11px;
  padding: 2px 6px;
  line-height: 15px;
}

.label.label-lg {
  font-size: 13px;
  padding: 5px 9px;
  line-height: 23px;
}


/* Label colors */

.label.label-white {
  color: #666666 !important;
  background: #f7f7f7;
}

.label.label-grey {
  color: #666666 !important;
  background: #eeeeee;
}

.label.label-black {
  color: #ffffff;
  background: #666666;
}

.label.label-red {
  color: #ffffff;
  background: #ed5441;
}

.label.label-green {
  color: #ffffff;
  background: #51d466;
}

.label.label-lblue {
  color: #ffffff;
  background: #32c8de;
}

.label.label-blue {
  color: #ffffff;
  background: #609cec;
}

.label.label-orange {
  color: #ffffff;
  background: #f8a841;
}

.label.label-yellow {
  background: #fcd419;
  color: #ffffff;
}

.label.label-purple {
  background: #cb79e6;
  color: #ffffff;
}

.label.label-rose {
  background: #ff61e7;
  color: #ffffff;
}

.label.label-brown {
  background: #d08166;
  color: #ffffff;
}


/* Badges */

.badge {
  min-width: 10px;
  padding: 3px 7px !important;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
}

.badge.badge-white {
  color: #666666;
  background: #ffffff;
}

.badge.badge-grey {
  color: #a2a2a2;
  background: #eeeeee;
}

.badge.badge-black {
  color: #ffffff;
  background: #666666;
}

.badge.badge-red {
  color: #ffffff;
  background: #ed5441;
}

.badge.badge-green {
  color: #ffffff;
  background: #51d466;
}

.badge.badge-lblue {
  color: #ffffff;
  background: #32c8de;
}

.badge.badge-blue {
  color: #ffffff;
  background: #609cec;
}

.badge.badge-orange {
  color: #ffffff;
  background: #f8a841;
}

.badge.badge-yellow {
  color: #ffffff;
  background: #fcd419;
}

.badge.badge-purple {
  color: #ffffff;
  background: #cb79e6;
}

.badge.badge-rose {
  color: #ffffff;
  background: #ff61e7;
}

.badge.badge-brown {
  color: #ffffff;
  background: #d08166;
}

.btn .badge {
  position: absolute;
  top: -13px;
  right: -8px;
}


/** tabs **/
.tab-wrap section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tab-wrap input {
  display: none;
}

.tab-wrap label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.tab-wrap label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tab-wrap label[for*='1']:before {
  content: '\f1cb';
}

.tab-wrap label[for*='2']:before {
  content: '\f17d';
}

.tab-wrap label[for*='3']:before {
  content: '\f16b';
}

.tab-wrap label[for*='4']:before {
  content: '\f1a9';
}

.tab-wrap label:hover {
  color: #888;
  cursor: pointer;
}

.tab-wrap input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

.tab-wrap #tab1:checked ~ #content1,
.tab-wrap #tab2:checked ~ #content2,
.tab-wrap #tab3:checked ~ #content3,
.tab-wrap #tab4:checked ~ #content4 {
  display: block;
}
