/** Main css **/

@import url("https://fonts.googleapis.com/css?family=Roboto:400,900,400italic,700italic");
@import url(font-awesome.min.css);

html, body, div, section, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, .87);
  font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #373737;
}

h1 {
  min-height: 1rem;
  font-size: 2rem;
}

h1, h2, h3, h4, h5 {
  font-family: Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.28571429em;
  margin: calc(2rem - .14em) 0 1rem;
  font-weight: 700;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

*, :after, :before {
  box-sizing: inherit;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

b, strong {
  font-weight: bolder;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  flex-grow:1;
  justify-content: space-between;
}

.loader {
  position: relative;
  top: 300px;
  left: 50%;
}

.loader p {
  color: #fff;
}

.loader.show {
  display: block;
}

.loader.hide {
  display: none;
}

.loader .line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 1px;
  height: 25px;
}

.loader .line:nth-child(1) {
  background: #27ae60;
}

.loader .line:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

.loader .line:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}


/** Layout **/

.wrapper>section.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  padding-bottom: 1em;
  background: rgb(27, 28, 29);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.wrapper>section.content {
  margin-left: 250px;
  min-width: 550px;
  max-width: 1150px;
}

.item:before {
  background: rgba(255, 255, 255, .08);
}

.ui.inverted.list .item:before {
  background: rgba(255, 255, 255, .08);
}

.ui.vertical.list .item>.header:not(.ui) {
  margin: 0.5em 0 0.5em .8em;
  font-size: 1.4em;
  font-weight: 700;
  background-image: url('../images/npm.png');
  background-repeat: no-repeat;
  background-position: right;
}

.ui.list.fixed, .ui.list.fixed .item:first-child, .ui.list.fixed .item:last-child {
  border-radius: 0!important;
}

.ui.vertical.list>.item:first-child {
  border-radius: .3rem .3rem 0 0;
}

.ui.inverted.list .item, .ui.inverted.list .item>a:not(.ui) {
  background: 0 0;
  color: rgba(255, 255, 255, .9);
}

.ui.vertical.list .item {
  display: block;
  background: 0 0;
  border-top: none;
  border-right: none;
}

.ui.list>.item a:hover {
  color: #fff !important;
}

.ui.list>.item:first-child {
  border-radius: .3rem 0 0 .3rem;
}

.ui.vertical.inverted.list .list .item, .ui.vertical.inverted.list .list .item a:not(.ui) {
  color: rgba(255, 255, 255, .5);
}

.list .item a.selected {
  color: #fff !important;
}

.ui.vertical.list .list .item {
  background: 0 0;
  padding: .5em 1.4em;
  font-size: .9em;
  color: rgba(0, 0, 0, .5);
}

.ui.vertical.list .list .item {
  color: rgba(255, 255, 255, 255);
}

.ui.inverted.list .item, .ui.inverted.list .item>a:not(.ui) {
  background: 0 0;
  color: rgba(255, 255, 255, .9);
}

.ui.list .item {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0;
  padding: .3em 0.3em;
  text-transform: none;
  color: rgba(0, 0, 0, .87);
  font-weight: 400;
  -webkit-transition: background .1s ease, box-shadow .1s ease, color .1s ease;
  transition: background .1s ease, box-shadow .1s ease, color .1s ease;
}

.ui.vertical.inverted.list .item.search {
  background: rgb(27, 28, 29);
  border: none;
}

.ui.vertical.inverted.list .item.search .inner {
  width: 100%;
  vertical-align: middle;
  border-bottom: 1px solid rgba(255, 255, 38, .1);
  padding: 0.5em;
}

.ui.vertical.inverted.list .item.search:before {
  background: rgba(255, 255, 255, .08);
}

.ui.inverted.list .item.search:before {
  background: rgba(255, 255, 255, .08);
}

.ui.vertical.list .item.search:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 1px;
  background: rgba(34, 36, 38, .1);
}

.ui.list .item.search:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background: rgba(34, 36, 38, .1);
}


/** searchbar **/

.ui.list .item>.input {
  width: 100%;
}

.ui.transparent.inverted.input {
  color: #fff;
}

.ui.input {
  font-size: 1em;
}

.ui.input {
  position: relative;
  font-weight: 400;
  font-style: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgba(0, 0, 0, .87);
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  font-size: inherit;
}

.ui.menu .item>.input input {
  font-size: 1em;
  padding-top: .6em;
  padding-bottom: .6em;
}

.ui.transparent.inverted.input input {
  color: inherit;
}

.ui.transparent.icon.input>input {
  padding-left: 0!important;
  padding-right: 2em!important;
}

.ui.inverted.input input {
  border: none;
}

.ui.icon.input input {
  padding-right: 2.7em!important;
}

.ui.transparent.input input {
  border-color: transparent!important;
  background-color: transparent!important;
  padding: 0!important;
  box-shadow: none!important;
  border-radius: 0!important;
}

.ui.input input {
  margin: 0;
  width: 91%;
  display: inline-flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.5em;
  font-family: Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: .7em 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, .15);
  color: rgba(0, 0, 0, .87);
  border-radius: .3rem;
  -webkit-transition: box-shadow .1s ease, border-color .1s ease;
  transition: box-shadow .1s ease, border-color .1s ease;
  box-shadow: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.ui.icon.input>i.icon:not(.link) {
  pointer-events: none;
}

.ui.transparent.icon.input>i.icon {
  width: 1.1em;
}

.ui.icon.input>i.icon {
  cursor: default;
  position: absolute;
  line-height: 1;
  text-align: center;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 2.7em;
  opacity: .5;
  border-radius: 0 .3rem .3rem 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.ui.container {
  display: block;
  max-width: 100%!important;
}

.ui.container .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ui.basic.segment {
  background: none transparent;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.ui.padded.segment {
  padding: 1.5em;
}

.ui.segment:first-child {
  margin-top: 0;
}

.ui.segment, .ui.segments .segment {
  font-size: 1rem;
}

.ui.segment {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  margin: 1rem 0;
  padding: 1em 1em;
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, .15);
}

.ui.actions {
  display: block;
  width: 25%;
  text-align: right;
}

.ui.header:last-child {
  margin-bottom: 0;
}

.ui.header:first-child {
  margin-top: -.14285714em;
}

h1.ui.header {
  font-size: 2rem;
}

.ui.header {
  border: none;
  display: block;
  width: 75%;
  margin: calc(2rem - .15em) 0 1rem;
  padding: 0 0;
  font-family: Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.28571429em;
  text-transform: none;
  color: rgba(0, 0, 0, .87);
}

h1.ui.header .sub.header {
  font-size: 1.14285714rem;
}

.ui.header .sub.header {
  font-size: 1rem;
}

.ui.header .sub.header {
  display: block;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.2em;
  color: rgba(0, 0, 0, .6);
}


/** tabs **/

.tab-wrap section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tab-wrap input {
  display: none;
}

.tab-wrap label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.tab-wrap label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tab-wrap label[for*='1']:before {
  content: '\f1cb';
}

.tab-wrap label[for*='2']:before {
  content: '\f17d';
}

.tab-wrap label[for*='3']:before {
  content: '\f16b';
}

.tab-wrap label:hover {
  color: #888;
  cursor: pointer;
}

.tab-wrap input:checked+label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

.tab-wrap #tab1:checked~#details-content, .tab-wrap #tab2:checked~#contributors-content, .tab-wrap #tab3:checked~#dependencies-content {
  display: block;
}


/** buttons **/

.button {
  width: 50px;
  height: 25px;
}

.button:hover {
  background: #64b6b1;
  color: white;
  cursor: pointer;
}

.button-red {
  border: solid 1px #fff;
  background: red;
  color: #fff;
}

.button-red:hover {
  background: #e7637a;
  color: white;
  cursor: pointer;
}

.button-green {
  border: solid 1px #fff;
  background: green;
  color: #fff;
}

.button-red:hover {
  background: #e7637a;
  color: white;
  cursor: pointer;
}


/** badges **/

.badge {
  display: inline-block;
  margin-right: 3px;
  padding: 3px 3px;
  width: 80px;
  border-radius: 2px;
}

.badge.badge-orange {
  color: #ffffff;
  background: #f8a841;
}

.badge {
  border-radius: 2px;
  font-weight: normal;
  padding: 3px 7px;
  font-size: 12px;
  line-height: 18px;
}

.badge {
  display: inline;
  padding: .3em;
  font-size: 85%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
