/************************
Main css
************************/


/** IMPORTS **/

@import url("https://fonts.googleapis.com/css?family=Lato:400,900,400italic,700italic");
@import url(font-awesome.min.css);
@import url(extras.css);

/** GENERAL STYLES **/

body {
  margin: 0;
  font-size: 12pt;
  background: #f4f8fd;
  font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
  font-family: 'Lato';
  font-weight: 600;
  margin: 2px 0px;
  padding: 0px;
}

h1 {
  font-size: 30px;
  line-height: 45px;
}

h2 {
  font-size: 25px;
  line-height: 40px;
}

h3 {
  font-size: 22px;
  line-height: 37px;
}

h4 {
  font-size: 18px;
  line-height: 33px;
}

h5 {
  font-size: 15px;
  line-height: 30px;
}

h6 {
  font-size: 13px;
  line-height: 28px;
}

p {
  margin: 2px 0px;
  padding: 0px;
  margin-bottom: 5px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  outline: 0;
  text-decoration: none;
}

hr {
  margin: 10px 0px;
  padding: 0px;
  border-top: 0px;
  border-bottom: 1px solid #eee;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}


/** LAYOUT **/

.wrapper {
  min-height: 100vh;
  background: #fff;
}

.header, .footer {
  height: 50px;
}

.content {
  display: block;
  margin-left: 85px;
  overflow-x: hidden;
  min-height: 100vh;
}

.columns {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  order: 2;
}

.flex-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}


/* SIDEBAR */

.main-menu {
  background: #fbfbfb;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 75px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
  transition: 0.3s width ease-out;
  webkit-transition: 0.3s width ease-out;
  moz-transition: 0.3s width ease-out;
}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 75px;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.main-menu .nav-icon {
  margin: 5px;
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 75px;
  font-family: 'Lato';
}

.main-menu>ul.settings {
  position: absolute;
  left: 0;
  bottom: 0;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}


/** LOADER **/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

#loader p {
  color: #fff;
}

#loader.show {
  display: block;
}

#loader.hide {
  display: none;
}

#loader .line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 1px;
  height: 25px;
}

#loader .line:nth-child(1) {
  background: #27ae60;
}

#loader .line:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

#loader .line:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

#loader .line:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

#loader p {
  margin: 0px 0px 25px 0px;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}


/** LISTS **/

.modules {
  width: 100%;
  display: block;
  position: relative;
  margin: 20px 30px auto;
  background: #fff;
  padding: 20px 0px;
  overflow: hidden;
}

.modules .module-details {
  margin-top: 35px;
}

.selected {
  background-color: #e5e5e5;
}

p.help {
  font-size: 9pt;
  margin-left: 11px;
}

.modules-list {
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modules-list h6.title {
  margin: 15px 5px;
  font-size: 12pt;
  background-image: url('../images/npm.png');
  background-repeat: no-repeat;
  background-position: right;
}

.static-list {
  -moz-column-width: 100px;
  -webkit-column-width: 100px;
  column-width: 100px;
}


/** DETAILS **/

.detail {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.datestamp {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: .68em;
  position: absolute;
  top: 197px;
  right: 0;
  border-radius: 2px 0 0 0;
}

.detail-body {
  padding: 24px 30px 0;
}

.detail-body .detail-top {
  margin-bottom: 25px;
}

.detail-body .detail-top p {
  margin-top: 15px;
}

.detail-body .detail-top .version {
  padding: 4px;
}

@media (max-width: 768px) {
  .detail-body .detail-top .versions {
    width: 50%;
  }
}

@media (max-width: 990px) {
  .detail-body .detail-top .versions {
    width: 40%;
  }
}

.detail-heading {
  color: #2f3032;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 16px;
}

.detail-tags {
  color: #a7aab0;
  font-size: .8125em;
  margin-bottom: .8125em;
}

.detail-footer {
  border-top: 1px solid #f1f2f3;
  margin-top: 25px;
  padding: 1em 30px;
}

.detail-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.detail-links li {
  display: inline-block;
  margin: 0 0 2px 0;
}

.detail-links a {
  color: #fff;
  background: #66a5e9;
  border-radius: 2px;
  font-size: 0.6875rem;
  padding: 3px 10px;
  transition: background 0.3s ease;
}

.detail-links a:hover {
  background: #4785C7;
  text-decoration: none;
}


/** tabs **/

.tab-wrap section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tab-wrap input {
  display: none;
}

.tab-wrap label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.tab-wrap label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tab-wrap label[for*='1']:before {
  content: '\f1cb';
}

.tab-wrap label[for*='2']:before {
  content: '\f17d';
}

.tab-wrap label[for*='3']:before {
  content: '\f16b';
}

.tab-wrap label:hover {
  color: #888;
  cursor: pointer;
}

.tab-wrap input:checked+label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

.tab-wrap #tab1:checked~#details-content, .tab-wrap #tab2:checked~#contributors-content, .tab-wrap #tab3:checked~#dependencies-content {
  display: block;
}
